<script type="text/x-handlebars">
  
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to 'index' class='navbar-brand'}}The Ember.js Bookstore{{/link-to}}
        <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to 'books'}}Books{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container-fluid'>
    <div class='row main-content'>
      <div class='col-md-12'>
        {{outlet}}
      </div>
    </div>
  </div>
</script>
