<h2>{{title}} {{#if featured}}<small><span class="glyphicon glyphicon-star"></span></small>{{/if}}</h2>
<p>
  {{description}}
</p>

<h3>Reviews</h3>
{{#each reviews}}
  <p>{{body}}</p>
{{else}}
  No reviews yet.
{{/each}}
