<h2>Available Books</h2>
{{#each}}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{this.title}}
    </div>
    <div class="panel-body">
      {{this.description}}
    </div>
  </div>
{{/each}}
